<div class="container">
      <div class="row">
      <div class="col-md-4 col-md-offset-4" >
         <h2>Login in to "ToDo" system</h2>
         <form role="form">
           <div class="form-group">
             <label for="email">Email address:</label>
             <input type="email" class="form-control" ng-model="login.LoginService.name" id="email" placeholder="mail@website.com" required>
           </div>
           <button type="submit" class="btn btn-default" ng-click="login.createAccount()" >Log in</button>
         </form>
      </div>
   </div>
</div>