<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>Task</th>
		<th>OWner</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="task in todo.items">
		<td>{{task.desc}}</td>
		<td>{{task.owner}}</td>
		<td>{{task.status}}</td>
		<td>
		    <button type="button" ng-click="todo.removeTask(task)" class="btn btn-sm btn-danger" ng-if="task.owner == todo.LoginService.name">
			    <i class="glyphicon glyphicon-remove-circle "></i>
		    </button>
		</td>
	</tr>
	</tbody>
</table>
