<table st-table="rowCollection" class="table table-striped table-hover">
	<thead>
	<tr>
		<th>Task</th>
		<th>
            <select st-search="owner" ng-model="searchVariable.owner" >
                <option value="">All</option>
                <option ng-repeat="filtr in todo.items | unique:'owner'" value="{{filtr.owner}}">{{filtr.owner}}</option>
            </select>
		</th>
		<th>
            <select st-search="status" ng-model="searchVariable.status" >
                <option value="">All</option>
                <option ng-repeat="filtr in todo.items | unique:'status'" value="{{filtr.status}}">{{filtr.status}}</option>
            </select>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="task in todo.items | filter:searchVariable" ng-click="todo.updateTask(task)">
		<td>{{task.desc}}</td>
		<td>{{task.owner}}</td>
		<td>{{task.status}}</td>
		<td>
		    <button type="button" ng-click="todo.removeTask(task)" class="btn btn-sm btn-danger" ng-if="task.owner == todo.LoginService.name">
			    <i class="glyphicon glyphicon-remove-circle "></i>
		    </button>
		</td>
	</tr>
	</tbody>
</table>
