<table st-table="rowCollection" class="table table-striped ">
	<thead>
	<tr>
		<th>Task</th>
		<th>
            <select st-search="owner" ng-init="todo.filtrOwner = todo.LoginService.name" ng-click="todo.filtr()" ng-model="searchVariable.owner">
                <option value="">All</option>
                <option ng-repeat="filtrOwner in todo.items | unique:'owner'" value="{{filtrOwner.owner}}">{{filtrOwner.owner}}</option>
            </select>
		</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="task in todo.items | filter:searchVariable">
		<td>{{task.desc}}</td>
		<td>{{task.owner}}</td>
		<td>{{task.status}}</td>
		<td>
		    <button type="button" ng-click="todo.removeTask(task)" class="btn btn-sm btn-danger" ng-if="task.owner == todo.LoginService.name">
			    <i class="glyphicon glyphicon-remove-circle "></i>
		    </button>
		</td>
	</tr>
	</tbody>
</table>
